DEBUG=True
SECRET_KEY=troque-por-uma-chave-secreta-longa
DATABASE_URL=postgres://dreamlog:dreamlog@localhost:5432/dreamlog

# APIs (preencher depois)
GROQ_API_KEY=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
OPENAI_API_KEY=
REPLICATE_API_TOKEN=
HUGGINGFACE_API_KEY=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

REDIS_URL=redis://localhost:6379/0